<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/signup_signin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../assets/js/dashboard.js"></script>
    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/signin.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="main_container">
            <header>
                <h1>Welcome,<span>Login your account.</span></h1>
            </header>
            <form id="signin_form" autocomplete="off">
                <label for="email">
                    <span>Email</span>
                    <input type="email" id="email">
                </label>
                <label for="password">
                    <span>Password</span>
                    <input type="password" id="password">
                </label>
                <button type="submit">Sign In</button>
            </form>
            <footer>
                <p>Don't have an account? <a href="signup.html" id="signup_link">Sign up</a></p>
            </footer>
        </div>
        <aside>
            <h2>THE <span>WALL</span></h2>
        </aside>
    </div>
</body>
</html>