* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
.border-red {
  border: 1px solid red !important;
}
#wrapper {
  background-color: #2C2D34;
  display: flex;
  height: 670px;
  justify-content: center;
  margin: 0px auto;
  padding: 221px 282px;
  width: 876px;
}
#wrapper label {
  color: #6D7186;
  display: flex;
  flex-direction: column;
}
#wrapper label span {
  margin-bottom: 8px;
}
#wrapper label input {
  background-color: #31354F;
  border-radius: 9px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 18px;
  outline: none;
  padding: 20.5px 20px;
}
#wrapper label input:focus {
  border: 1px solid #00A3FF;
}
#wrapper button {
  background-color: #00A3FF;
  border-radius: 9px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font: 700 21px "Roboto";
  height: 60px;
  margin: 13px 0px 37px 0px;
  width: 515px;
}
#wrapper #main_container {
  background-color: #1D1F2B;
  border-radius: 20px 0px 0px 20px;
  height: 536px;
  padding: 75px 78px;
  width: 515px;
}
#wrapper #main_container header {
  display: flex;
  margin-bottom: 47px;
}
#wrapper #main_container header::before {
  content: "";
  background: url("../images/the_wall_sprite.png") no-repeat 0 0;
  height: 46px;
  margin-right: 30px;
  width: 46px;
}
#wrapper #main_container header h1 {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font: 300 21px "Roboto";
}
#wrapper #main_container header h1 span {
  font-size: 17.51px;
  color: #6D7186;
}
#wrapper #main_container #signup_form #name_container {
  display: flex;
  flex-direction: row;
}
#wrapper #main_container #signup_form #name_container label input {
  width: 210px;
}
#wrapper #main_container #signup_form #name_container label input#firstname {
  margin-right: 15px;
}
#wrapper #main_container footer {
  text-align: center;
}
#wrapper #main_container footer p {
  color: #6D7186;
}
#wrapper #main_container footer p #login_link,
#wrapper #main_container footer p #signup_link {
  text-decoration: none;
  color: #00A3FF;
}
#wrapper aside {
  background-color: #3B3C43;
  background-image: url("../images/thewall.png");
  background-repeat: no-repeat;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  height: 611px;
  padding: 75px 0px 0px 51px;
  width: 205px;
}
#wrapper aside h2 {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font: 400 25.55px "Roboto";
  letter-spacing: 8px;
}
#wrapper aside h2::before {
  content: "";
  background: url("../images/the_wall_sprite.png") no-repeat -91px 0;
  height: 46px;
  margin-bottom: 7px;
  width: 46px;
}
